@import url("./hamburgernav.css");

@media only screen and (min-width: 765px) and (max-width: 1199px){

    #large-nav{
        display: none !important;
    }

    #hero{
        h1,h2{
            font-size: 5vw !important;
        }

        blockquote{
            font-size: 2vw !important;
        }
    }

    .indent{
        text-indent: 0 !important;
       
   }

    main{
        width: 80% !important;
    }
    .call-to-action{
        font-size: 14pt !important;
    }
    
    .myparagraph{
        width: 80% !important;
        font-size: 12pt !important;
        margin: 0 auto 0 auto !important;
    }

    .dot{
        margin: 2vw 5px 0 0 !important;
    }

    .whitedot{
        height: 1vw !important;
        width: 1vw !important;
        margin: 2vh 3px 0 0 !important;
    }

    #technology-description{
        font-size: 12pt !important;
    }

    #codereview{
        margin: 6rem 3rem 6rem 0 !important;
    }


    .thumbnail{
            img{
            height: 200px !important;
            } 

        }
        .thumbnail-link {
            max-width: 47% !important;
        } 

        .thumbnail::before {
            display: none !important;
        }

        .thumbnail::after {
            display: none !important;
        }


      footer{
          div{
              padding-top: 10px;
          }
      }
    

}


