@media only screen and (min-width: 765px) and (max-width: 1199px){

    #large-nav{
        display: none !important;
    }


    header{
        .hamburger-shell {
        position: fixed;
        overflow: hidden;
        width: 10%;
        height: 5vh;
        overflow: auto;
        right: 5vw;
        top: 2vh;
        cursor: pointer;
        background: transparent;
        border: solid;
        color: orange;
        padding: 1%;
        }

        .top{
        position: fixed;
        width: 7%;
        height: 5px;
        background-color: orange;
        transition: all 350ms ease-in-out;
        top: 3%;
        }

        .middle{
        @extend .top;
        top: 4%;
        }

        .bottom{
        @extend .top;
        top: 5%;
        }

        #hamburger {
        position: fixed;
        left: calc(100% - 252px);
        top: 10px;
        color: white;       
        width: 200px;
        font-size: 20pt;
        text-align: right;

            .hide-hamb{
            margin-top: -190%;
            }
        
        }      

        .menu-open > .hide-hamb{
        margin-top: 60% !important;
        }

        .menu-open .top {
        transform: rotate(225deg);
        -webkit-transform: rotate(225deg);
        background-color: white;
        top: 4%;
        height: 2px;
        }
    
        .menu-open .middle {
        transform: rotate(-225deg);
        -webkit-transform: rotate(-225deg);
        background-color: white;
        height: 2px;
        }
    }

    // .hero{
    // margin-top: 15em !important;

    //     blockquote{
    //     width: 60% !important;
    //     font-size: 20pt !important; 
    //     }   
    // }


    .thumbnail{
            img{
            height: 200px !important;
            }
        

        }
        .thumbnail-link {
            max-width: 47% !important;
        } 

        .thumbnail::before {
            display: none !important;
        }

        .thumbnail::after {
            display: none !important;
        }
        
    

}


