@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;800&family=Prompt:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
@import url("./large.css");
@import url("/CSS/medium.css");
@import url("./small.css");
@import url("./medium-large.css");

$bg-color: #232323;
$title-font: "Prompt", sans-serif;
$text-font: 'Mulish', sans-serif;
$font-color: white;
$secondary-color: orange;

body{
    margin: 0;
    padding: 0;
    background-color: $bg-color !important;
}

.text-font-color{
    color: $font-color;
}

.mytitle{
    @extend .text-font-color;
    font-family: $title-font;
}

.mysectiontitle{
    @extend .mytitle;
    font-size: 3vw;
    text-align: center;
    letter-spacing: 3px;
    padding-top: 30%;

}

.dot{
    height: 1vw;
    width: 1vw;
    background-color: $secondary-color;
    border-radius: 50%;
    display: inline-block;
    margin: 2vw 10px 0 0;
}

.whitedot{
    @extend .dot;
    height: 1vh;
    width: 1vh;
    background-color: $font-color;
    margin: 3vh 5px 0 0;
}

.mytext{
    @extend .text-font-color;
    font-family: $text-font !important;
}


.myparagraph{
    @extend .mytext;
    font-size: 1rem;
    padding: 2rem;
    width: 60%;
    font-weight: 200;
}

.indent{
     text-indent: 3rem;
    
}

.call-to-action{
    font-size: 1.5vw;
    font-weight: 200;
}

a{
   font-family: $text-font !important;
   color: $font-color !important;
   text-decoration: none !important;
}

a:hover{
    color: $secondary-color !important;
}

a:active{
    color: $secondary-color !important;
}


#large-nav{
    color: $font-color !important;
    font-size: 2vw !important;
    padding-top: 20vh;
    margin-left: 5%;
    position: fixed;

    .focus{
        color: $secondary-color !important;
    }

}

#codereview{
    margin: 6rem 6rem 6rem 0;
}

.leftmargin{
    margin-left: 20%;
}

#hero{
    padding-top: 15vh;
    margin-bottom: 0;
    h1,h2{
        font-size: 5vw;
    }

    span{
        color: $secondary-color;
    }

    #logo{
        width: 60%;
    }

    blockquote{
        @extend .mytext;
        width: 50%;
        display: inline-flex;
        margin-left: 42%;
        font-size: 2vw;
        font-style: italic;
        border-left: solid;
        border-color: $secondary-color;
        font-weight: 200;
    }
}

main{
    min-height: 100vh;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

    .scrolltitle {
        list-style: none;
        border-bottom: 0;
        border-top:0;
    
      li{
        float: left;
        opacity: 1;
        transition: all 0.5s ease-in-out;
        max-width: 2em;
         
      }
    }
    
      .scrolltitle.hidden li.ghost {
        opacity: 0;
        max-width: 0;
      }

    #thumbnail-section{
        width: 99%;
        margin-left: auto;
        margin-right: auto;
      

    .thumbnail{
        position: relative;
        overflow: hidden;
        background: $secondary-color;
        box-shadow: 0 15px 50px rgba(0,0,0,.5);
        display: inline-block;
        width: 100%;
            img{
            width: 100%;
            transition: opacity .2s ease-in-out;
            display: block;
            max-height: 20vh;
            border: solid $secondary-color;
            }


        }
    .thumbnail-link {
        max-width: 40%;
    }   
    .thumbnail:hover{

            img {
               opacity: .3;
           }

    }

    .thumbnail::before {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 50%;
        transition: transform .4s ease-out;
        content: attr(data-description) "";
        top: 50%;
        padding: 2rem;
        transform: translateY(100%) scale(.8);
        background: rgba(255,165,0,.6);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        color: $bg-color;
        font-size: 0.9rem;
        font-family: $text-font;
        font-weight: 400;
    }

    .thumbnail::after{
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 50%;
        transition: transform .4s ease-out;
        color: $bg-color;
        content: attr(data-title);
        top: 0;
        transform: translateY(-100%) scale(.8);
        background: rgba(255,255,255,.4);
        font-size: 2rem;
        font-weight: 300;
        font-family: $title-font;
        text-align: center;
        padding-top: 55px;
    }


    .thumbnail:hover::before {
        transform: translateY(0%) scale(1);
    }

    .thumbnail:hover::after{
        transform: translateY(0%) scale(1);
    }
    }
}

#technology-list{
    width: 60%;
    margin: 10% auto 0 auto;

    a{
        font-size: 20pt;
        border: solid 1px;
        padding: 1rem;
        cursor: pointer;
        font-weight: 200;

    }

    #technology-description{
        font-size: 1rem;
        font-weight: 200;
    }
}



footer{
    background-color: $secondary-color;
    margin-top: 26vh !important;
    margin-bottom: 40px;
    font-size: 8pt;
    font-family: $text-font;
    font-weight: 800;
    padding: 2vh 0 2vh 0 !important;
    color: $bg-color;
    i{
        margin-right: 10px;
    }

    a{
        color: $bg-color !important;
    }

    a:hover{
        color: $font-color !important;
    }
}
 



  
  




