@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Prompt:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100&display=swap');
@import url("./large.css");
@import url("/CSS/medium.css    ");

$bg-color: #232323;

body{
    margin: 0;
    padding: 0;
    background-color: $bg-color !important;
}

.mytitle{
    font-family: 'Prompt', sans-serif;
    color: white;
}

.mysectiontitle{
    font-size: 50pt;
    text-align: center;
    letter-spacing: 3px;
    padding-top: 40%;

    .dot{
        height: 25px;
        width: 25px;
        background-color: orange;
        border-radius: 50%;
        display: inline-block;
        margin: 27pt 10px 0 0;
    }
}

.mytext{
    font-family: 'Mulish', sans-serif !important;
    color: white !important;
}

a{
   @extend .mytext;
   text-decoration: none !important;
}

a:hover{
    color: orange !important;
}

#large-nav{
    font-size: 30pt;
    padding-top: 20vh;
    margin-left: 5%;
    position: fixed;

}

.hero{
    padding: 7em 0 0 0;
    margin-bottom: 0;
    h1,h2{
        font-size: 70pt;
    }

    span{
        color: orange;
    }

    #logo{
        width: 60%;
    }

    blockquote{
        width: 50%;
        display: inline-flex;
        margin-left: 34%;
        font-size: 30pt;
        font-style: italic;
        border-left: solid;
        border-color: orange;
    }
}

.mycontent{
    min-height: 100vh;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

    .scrolltitle {
        list-style: none;
        border-bottom: 0;
        border-top:0;
      
      .hidden {
        border-bottom: 1px solid $bg-color;
      }
    
      li{
        float: left;
        opacity: 1;
        transition: all 0.5s ease-in-out;
        max-width: 2em;
         
      }
    }
    
      .scrolltitle.hidden li.ghost {
        opacity: 0;
        max-width: 0;
      }


    .thumbnails{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        img{
            width: 50%;
            border-style: solid;
            border-color: orange;
            border-width: 7px;
            padding: 1em;
            background-color: white;
        }
    }

    #technology-list{
        width: 60%;
        margin: 10% auto 0 auto;

        a{
            font-size: 20pt;
            font-weight: bold;
            border: solid;
            padding: 1rem;

        }
    }

}

footer{
    margin-top: 600px;
}
 



  
  




