$themegreen: #706642;
$titlered: #5E0000;

.green-rec{
    height: 60vh;
    background-color: $themegreen; 
    position: relative;
    top: 30vh;
    border-radius: 90% 10% 90% 90%;
    width: 50%;
    transform: translate(40%) rotate(20deg);
}

.title{
    position: relative;
    
    font-family: 'Nova Slim', cursive;
    color: $titlered;
    h1{
        transform: translate(40%,-20vh);
        font-size: 40pt;
    }
    h2{
        transform: translate(30%,-20vh);
        font-size: 30pt;
    }
}